body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
  
  .stopwatch {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 25px 2px whitesmoke;
  }
  
  .display {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .controls button {
    margin: 5px;
    padding: 8px 16px;
    font-size: 1em;
    background-color:darkorange;
  }
  